<!DOCTYPE html>
<html>
<head>
    #parse("utils/base.vm")
    <title>${res.article.title}</title>

    <link rel="stylesheet" type="text/css" href="static/css/article_content.css">
    <script type="text/javascript" src="static/js/article_content.js"></script>
</head>
<body>
<div class="content" id="content">
    <input type="hidden" value="${res.article.id}" name="articleId" id="articleIdInput">
    #parse("utils/head.vm")
    <div class="ad article_ad">AD1</div>
    <div class="article">
        <div class="prev_article"></div>
        <div class="next_article"></div>
        <div class="article_title">${res.article.title}</div>
        <div class="article_content article_info">添加时间：${res.article.addTimeString}&nbsp;&nbsp;&nbsp;&nbsp;作者：<a href=""
                                                                                                                 target="_blank">${res.article.author.nick}</a>
            #if(${res.article.author.id}==${user.id})
                <a href="user/article/${res.article.id}/edit.htm" title="修改"><img src="img/edit.png">修改</a>
            #end
        </div>
        <div class="article_content">${res.article.content}</div>
    </div>
    <div class="ad article_ad">AD2</div>
    <div class="comment_box">
        <div class="comment_box_title">评论列表</div>
        <div class="comment_list">
            <ul></ul>
            <div class="input_panel">
                <label for="new_comment" class="new_comment">添加评论</label>
                <textarea id="new_comment"></textarea>
            </div>
        </div>
    </div>
    #parse("utils/foot.vm")
</div>
</body>
</html>