<!DOCTYPE html>
<html>
<head>
    #parse("utils/base.vm")
    <title>文章列表|佚博客</title>
    <link rel="stylesheet" type="text/css" href="static/css/article_list.css">
    <script type="text/javascript" src="static/js/article_list.js"></script>
</head>
<body>
<div class="content" id="content">
    #parse("utils/head.vm")
    <div class="article_list_content">
        <div class="search_box">
            <input type="text" placeholder="搜索" id="search_input" value="${keywordstring}">
            <input type="button" id="search_btn" value="搜索">

            <div class="hide">
                <label for="date_start_input">开始时间</label>
                <input type="text" readonly="true" id="date_start_input" value="${startDate}">
                <label for="date_end_input">结束时间</label>
                <input type="text" readonly="true" id="date_end_input" value="${endDate}">
                <label for="sort_key_select">排序方式</label>
                <select id="sort_key_select">
                    <option value="addtime" selected="selected">添加时间</option>
                    <option value="replycount">热度</option>
                </select>
            </div>
            <div class="hidden_btn">-------高级搜索-------</div>
        </div>
        <ul class="list_box">
        </ul>
        <div class="pager_box">
        </div>
    </div>
    #parse("utils/foot.vm")
</div>
</body>
</html>