<!DOCTYPE html>
<html>
<head>
    <title>${title}</title>
</head>
<body>
${nick},您好<br>
这是一封系统自动发出的邮件，请勿回复<br>
您申请了对 ${uid} 账号进行重设密码操作，如果并非本人操作请确认邮箱中没有设置自动转发<br>
若确认需要重设密码，请点击链接（若无法点击可以将链接文本复制到浏览器地址栏进入）:
<a href="${url}" target="_blank">${url}</a><br>
本链接有效时间为1小时，超时请重新申请<br>

<br>
佚博客感谢您的访问
</body>
</html>