.article_list_content {
    width: 100%;
    margin: 10px 0;
}

.article_list_content .search_box {
    width: 1000px;
    background: #533;
    border: 1px solid #900;
    box-shadow: 0 0 10px #422;
    margin: 10px;
}

.search_box>input {
    font-size: 28px;
    height: 32px;
    line-height: 32px;
    border-radius: 4px;
    margin: 5px;
}

.search_box #search_input {
    width: 800px;
}

.search_box #search_btn {
    float: right;
    line-height: 1px;
}

.search_box .hidden_btn {
    width: 100%;
    cursor: pointer;
    text-align: center;
    background: #353;
    font-size: 10px;
}

.search_box .hide {
    width: 100%;
    display: none;
    margin: 5px 0;
}

.search_box .hide input, .search_box .hide label, .search_box .hide select {
    float: left;
    position: relative;
    margin-left: 5px;
}

.search_box .hide input {
    margin-right: 5px;
}

.article_list_content .list_box {
    width: 100%;
    border-top: 2px solid #fff;
}

.list_box li {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666), color-stop(1, #333));
    background-image: -moz-linear-gradient(top, #666, #333);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666', endColorstr='#333', GradientType='0');
    width: 100%;
    border-bottom: 2px solid #fff;
}

.list_box li .title {
    font-size: 26px;
    line-height: 30px;
    height: 30px;
}

.list_box li .title a {
    width: 700px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list_box li .response_count {
    width: 100px;
    float: right;
    background: url(../../img/reply.png) no-repeat;
    text-align: right;
}

.list_box li .author {
    background: url(../../img/person.png) no-repeat;
    width: 100px;
    text-align: right;
    float: right;
}

.list_box li .tag_list {
    clear: left;
}

.list_box li .tag_list a {
    margin: 0 2px;
}

.list_box li .time {
    float: right;
}