/*左侧搜索框及标签云*/
.left_box {
    width: 200px;
    margin: 0 5px;
}

/*搜索框*/
.left_box .search_box {
    margin: 3px 0;
}

.left_box .search_box input[type='text'] {
    width: 160px;
    margin: 0;
    padding: 0;
}

.left_box .search_box input[type='button'] {
    margin: 0;
    cursor: pointer;
}

/*广告1*/
#ad_01 {
    width: 100%;
    height: 80px;
    margin: 5px 0;
}

#ad_02, #ad_03, #ad_04, #ad_05 {
    width: 190px;
    margin: 5px;
    height: 80px;
}

/*标签云*/
.left_box .cloud_box {
    width: 100%;
    height: 500px;
}

.left_box .cloud_box .tab {
    position: relative;
    float: left;
    border: 1px solid #fff;
    margin: 1px;
    width: 95px;
    height: 20px;
    font-size: 16px;
    padding: 2px 0;
    text-align: center;
    cursor: pointer;
}

.left_box .cloud_box .active {
    color: #000;
    background: #ddf;
}

.left_box .cloud_box .tag_box {
    width: 100%;
    height: 378px;
}

.left_box .cloud_box .tag_box a {
    margin: 15px 5px;
}

/*中部正文列表*/
.center_box {
    width: 800px;
    margin: 5px;
}

.article_box {
    width: 100%;
}

.article_box .tab_box {
    width: 100%;
    height: 24px;
    text-align: center;
    border-bottom: 1px solid #999;
    overflow-x: hidden;
}

.article_box .tab_box .item {
    color: #999;
    height: 24px;
    text-align: center;
    width: 300px;
    line-height: 24px;
    font-size: 14px;
    cursor: pointer;
}

.article_box .tab_box .active {
    color: #fff !important;
    font-weight: bold !important;
    font-size: 18px !important;
}

.article_box .fragment_box {
    width: 100%;
    min-height: 503px;
    overflow-x: hidden;
}

.article_box .fragment_box .item {
    width: 800px;
    font-size: 12px;
}

.article_box .fragment_box .item dd {
    width: 100%;
    margin: 3px 0;
}

.article_box .fragment_box .item a.more {
    float: right;
}

.article_box .fragment_box .item dd:hover {
    background: #555;
}

.article_box .fragment_box .article .title {
    font-size: 20px;
    height: 34px;
    line-height: 24px;
    width: 700px;
}

.article_box .fragment_box a:visited {
    color: #afafaf;
}

.article_box .fragment_box .article .response_count {
    width: 100px;
    float: right;
    background: url(../../img/reply.png) no-repeat;
    text-align: right;
}

.article_box .fragment_box .article .author {
    background: url(../../img/person.png) no-repeat;
    width: 100px;
    text-align: right;
    float: right;
}

.article_box .fragment_box .article .tag_list a {
    margin: 0 2px;
}

.article_box .fragment_box .article .time_box {
    float: right;
}

.article_box .fragment_box .notice .title {
    font-size: 20px;
    height: 24px;
    line-height: 24px;
    width: 100%;
}

.article_box .fragment_box .notice .time_box {
    text-align: right;
}
